@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  body {
    font-size: 10px;
    font-family: sans-serif;
    margin: 0;
    background: linear-gradient(
      #f7fff0 80%,
      #e2eadd
    );
    color: #1f5f08;
  }
  
  h1 {
    text-align: center;
  }
  
  h1, h2 {
    font-size: 2.5em;
  }
  
  p {
    font-size: 1.5em;
  }
  
  #header {
    width: 100%;
    height: 50px;
    background: linear-gradient(
      #f7fff0 70%,
      #e2eadd
    );
    display: grid;
    grid-template-columns: auto 1fr;
    position: fixed;
    top: 0;
  }
  
  #header-img {
    width: 50px;
    height: 50px;
  }
  
  nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    margin-block: 0;
    text-align: center;
    width: 33%;
    min-width: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #1f5f08;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  nav a:hover {
    background-color: #e2eadd;
    cursor: pointer;
  }
  
  
  main {
    padding-top: 50px;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
    row-gap: 3rem;
  }
  
  section {
    grid-column: 2 / 3;
    text-align: center;
  }
  
  .advantages {
    display: grid;
    grid-template: repeat(3, 1fr);
    gap: 1rem;
    text-align: justify;
  }
  
  .advantages ol {
    list-style-type: none;
    padding: 0;
  }
  
  .advantages h2 {
    display: grid;
    align-items: center;
    text-align: left;
    height: 2.5em;
  }
  
  .advantages p {
    margin-top: -2em;
  }
  
  #video {
    width: 440px;
    height: 240px;
  }
  
  #email {
    width: 12em;
    height: 2em;
    display: block;
    margin: 0 auto;
  }
  
  #submit {
    width: 12em;
    height: 2em;
    display: block;
    margin: 5 auto;
  }
  
  footer {
    grid-column: 2 / 3;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
  }
  
  @media (max-width: 768px) {
      body {
          font-size: 8px;
      }
      h1, h2 {
          font-size: 2em;
      }
      nav a {
          min-width: 30px;
      }
      #video {
          width: auto; 
          height: auto; 
          max-width: 100%; 
      }
  }